# U.S. Oil and Gas Production Analysis

Analyzing the [Kaggle Dataset](https://www.kaggle.com/djzurawski/us-oil-and-gas-production-june-2008-to-june-2018) with information about Oil and Gas production in the US from June 2008 to June 2018.

In [1]:
import numpy as np
import pandas as pd
import matplotlib

Let's load the Gas production:

In [2]:
file = "data/U.S._natural_gas_production.csv"
gas_df = pd.read_csv(file, decimal=",")
gas_df.head(3)

,Month,U.S.,Alaska,Arkansas,Kansas,Other States,Federal Offshore--Gulf of Mexico,Wyoming,West Virginia,Utah,Pennsylvania,Texas,Oklahoma,Ohio,North Dakota,New Mexico,Montana,Louisiana,Colorado,California
0,2008-06-01,70626,8875,1196,1024,2995,7339,6839,670,1198,540,21446,5241,224,243,3975,323,3989,3576,932
1,2008-07-01,71137,8375,1256,1034,3150,7468,6940,674,1200,512,21547,5256,220,243,4179,324,4008,3834,919
2,2008-08-01,70760,8739,1313,1033,3092,6868,6835,678,1277,529,21777,4896,220,249,4092,327,3896,4056,881

In [3]:
# DataFrame'de kaç satır ve kaç sütun olduğunu kontrol et
gas_df.shape

(121, 20)

In [4]:
# DataFrame'de mevcut olan tüm sütun adlarını göster
gas_df.columns

Index(['Month', 'U.S.', 'Alaska', 'Arkansas', 'Kansas', 'Other States',
       'Federal Offshore--Gulf of Mexico', 'Wyoming', 'West Virginia', 'Utah',
       'Pennsylvania', 'Texas', 'Oklahoma', 'Ohio', 'North Dakota',
       'New Mexico', 'Montana', 'Louisiana', 'Colorado', 'California'],
      dtype='object')

In [5]:
# Her sütun hakkında veri türü ve null olmayan değer sayısı gibi ek bilgiler göster
gas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Month                             121 non-null    object
 1   U.S.                              121 non-null    int64
 2   Alaska                            121 non-null    int64
 3   Arkansas                          121 non-null    int64
 4   Kansas                            121 non-null    int64
 5   Other States                      121 non-null    int64
 6   Federal Offshore--Gulf of Mexico  121 non-null    int64
 7   Wyoming                           121 non-null    int64
 8   West Virginia                     121 non-null    int64
 9   Utah                              121 non-null    int64
 10  Pennsylvania                      121 non-null    int64
 11  Texas                             121 non-null    int64
 12  Oklahoma                          121 non-null    int64
 13  Ohio                              121 non-null    int64
 14  North Dakota                      121 non-null    int64
 15  New Mexico                        121 non-null    int64
 16  Montana                           121 non-null    int64
 17  Louisiana                         121 non-null    int64
 18  Colorado                          121 non-null    int64
 19  California                        121 non-null    int64
dtypes: int64(19), object(1)
memory usage: 19.0+ KB

In [6]:
gas_df["Month"] = pd.to_datetime(gas_df["Month"])

### Check your code

In [7]:
month_type = gas_df['Month'].dtype

In [8]:
from nbresult import ChallengeResult

result = ChallengeResult('date',
    month_type=month_type,
)
result.write()

In [9]:
print(result.check())

---

## Yearly Gas production

In [11]:
numeric_cols = gas_df.select_dtypes(include="number").columns
yearly_gas_df = gas_df.groupby(gas_df["Month"].dt.year)[numeric_cols].sum()
yearly_gas_df.head()

,U.S.,Alaska,Arkansas,Kansas,Other States,Federal Offshore--Gulf of Mexico,Wyoming,West Virginia,Utah,Pennsylvania,Texas,Oklahoma,Ohio,North Dakota,New Mexico,Montana,Louisiana,Colorado,California
Month,,,,,,,,,,,,,,,,,,,
2008,489473,64732,9395,7229,21678,39112,48393,4709,8726,3759,151483,36206,1617,1773,28518,2262,26289,27351,6240
2009,856876,108986,22353,11689,36078,80346,83413,8692,14782,9009,251694,62535,2919,3040,46867,3463,51221,49716,10071
2010,881622,105219,30475,10708,37542,74309,82687,8718,14361,18771,249632,60074,2568,3741,44101,3068,72873,52259,10521
2011,936163,104154,35384,10191,38187,60213,78095,12948,15170,43014,260747,62075,2592,5155,42315,2615,99905,54215,9181
2012,968632,103856,37571,9714,37045,50102,72988,17694,16079,73950,266989,66337,2772,8473,41846,2197,96895,56037,8092


### Check your code